@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    border-radius: 50px;
    transition: all 0.4s;
    @apply bg-green-500 md:h-12 md:w-12 h-10 w-10;
}

.back-to-top i {
    @apply text-3xl text-white;
}

.back-to-top:hover {
    @apply bg-green-600 text-white;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Pour une transition de défilement en douceur */
html {
    @apply scroll-smooth scroll-pt-32;
}

/* Scrollbar custom */
html::-webkit-scrollbar {
    @apply w-2 px-1;
}

html::-webkit-scrollbar-track {
   @apply bg-white;
}

html::-webkit-scrollbar-thumb {
    @apply bg-green-600 rounded-3xl;
}

#anime:hover {
    @apply dark:text-gray-300 text-green-700;
}
#animation:hover {
    @apply transform scale-110 transition duration-300 ease-in delay-75;
}
.active {
    @apply text-green-700;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
}